@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --book-padding: 0.5em;
}

body {
    margin: 0;
    background-color: #F9EBC8;
    font-size: 12px;
    font-family: 'Mulish';
    box-sizing: border-box;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
}

.book-card {
    background-color: #FFFBDE;
    padding: 2em;
    height: 30vh;

    display: grid; 
    grid-template-columns: minmax(3rem, 1fr) 3fr 5.5em 8em 8em; 
    grid-template-rows: 0.8fr 0.9fr 2fr 1fr; 
    gap: 0px 1em; 
    grid-template-areas: 
    "b t t t t"
    "b g g g g"
    "b d d d d"
    "b . . b1 b2"; 

    border-radius: 3em;
}

.book-card .book-card__image {
    grid-area: b;
    justify-self: center;
    /* background-color: red; */
}
.book-card .book-card__image > img {
    object-fit: contain;
    aspect-ratio: 6/9;
    border-radius: 0.5em;
    width: 100%;
    max-height: 100%;
}

.book-card .book-card__title {
    font-family: 'Mulish';
    font-size: 2em;
    grid-area: t;
}

.book-card .book-card__genre {
    grid-area: g;
    font-size: calc((15/24) * 12);
}

.book-card .book-card__description {
    grid-area: d;
    font-size: calc((15/24) * 12);
}

.book-card .book-card__button-one {
    grid-area: b1;
}
.book-card .book-card__button-two {
    grid-area: b2;
}